@import "bootstrap/bootstrap.less";

body {
  padding-top: 45px;
}

body,
#main-container {
  height: 100%;
}

#editor-container, #preview-container {
  top: 48px;
  bottom: 0;
  position: fixed;
  box-sizing: border-box;
}

#preview-container {
  width: 67%;
  padding: 0px;
  min-width: 600px;
  .deck-container {
    font-size: 1em;
  }
}

#editor-container {
  width: 33%;
  min-width: 400px;
  right: 0;
  background-color: @grayLighter;
  .box-shadow(-2px 0px 4px rgba(0,0,0,.065));
  padding: 0;
  border-top: 1px solid @grayLight;
  border-left: 1px solid @grayLight;
  border-bottom: 1px solid @grayLight;
  z-index: @zindexPopover;

  header {
    font-weight: bold;
    .editor-title{
      width: 100%;
      margin: 10px;
      text-align: center;
    }
    border-bottom: 1px solid @grayLight;
  }
  .ace_editor {
    position: absolute;
    top: 42px;
    bottom: 0;
    width: 100%;
  }
}

#alerts {
  z-index: @zindexModal;
}

.btn-back-edit {
  position: fixed;
  top: -100px;
  right: 0;
  z-index: @zindexModal;
  opacity: .6;
  &:hover{
    opacity: 1;
  }
  a {
    color: @textColor;
  }

  .transition(top .5s)
}

.list-no-style {
  list-style: none;
}

body.edit {
  .btn-back-edit {
    display: none;
  }
}
body.preview {
  #editor-container,
  #theme-menu,
  .navbar,
  .btn-play {
    display: none;
  }

  .btn-back-edit {
    top: 0;
  }

  #preview-container {
    top: 0;
    bottom: 0;
    width: 100%;
  }
}

[ng-cloak],
.ng-cloak {
  display: none;
}

.loading {
  font-size: 16px;
  line-height: 16px;
  .icon-spin1{
    width: auto;
    height: auto;
    margin-left: -20px;
    line-height: auto;
    background-image: none;
  }
}

.modal-backdrop.modal-backdrop-loading {
  background-color: @white;
  // Fade for backdrop
  &.fade { opacity: 0; }
}
.modal-backdrop.modal-backdrop-loading,
.modal-backdrop.modal-backdrop-loading.fade.in {
  .opacity(90);
}
// Base modal
.modal.modal-loading {
  width: auto;
  margin: auto;
  background-color: none;
  border: none;
  .border-radius(0);
  .box-shadow(0 0 0);
  &.fade {
    .transition(e('opacity .3s linear, top .3s ease-out'));
    top: -25%;
  }
  &.fade.in { top: 50%; }
}