@import "bootstrap/bootstrap.less";

body {
  padding-top: 40px;
}

body,
#main-container {
  height: 100%;
}

#editor, #preview {
  top: 40px;
  bottom: 0;
  position: fixed;
  box-sizing: border-box;
}

#preview {
  width: 67%;
  padding: 5px;
  .deck-container {
    font-size: 1em;
  }
}

#editor {
  width: 33%;
  right: 0;
  background-color: @grayLighter;
  // box-shadow: -1px 0px 6px rgba(0,0,0,0.15);
  padding: 5px;
  border-top: 1px solid @grayLight;
  border-left: 1px solid @grayLight;
  border-bottom: 1px solid @grayLight;

  header {
    font-weight: bold;
    .editor-title{
      width: 100%;
      text-align: center;
    }
  }
  textarea {
    width: 100%;
    height: 70%;
    resize: none;
    border: 1px solid @grayLight;
    box-sizing: border-box;
    .border-radius(0px);
    .box-shadow(0px);
  }
}

#theme-menu {
  .dropdown {
    display: inline-block;
    margin: 0 10px;
  }
}

.no-focus:focus {
  webkit-box-shadow: inset 0 0 0 !important;
  -moz-box-shadow: inset 0 0 0 !important;
  box-shadow: inset 0 0 0 !important;
  border: none;
}
li.no-style {
  list-style: none;
}