<div>
  <preview markdown="editor.markdown"></preview>
  <editor markdown="editor.markdown"></editor>

  <!-- <div id="theme-menu">
    <li class="dropdown" ng-controller="ThemesCtrl">
      <span class="dropdown-toggle">
        <span>Theme: </span> <a ng-href="#">{{theme.current.name}}</a>
      </span>
      <ul class="dropdown-menu">
        <li ng-repeat="theme in theme.list">
          <a ng-click="setTheme(theme)">{{theme.name}}</a>
        </li>
      </ul>
    </li>

    <li class="dropdown" ng-controller="TransitionsCtrl">
      <span class="dropdown-toggle">
        <span>Transition: </span> <a ng-href="#">{{transition.current.name}}</a>
      </span>
      <ul class="dropdown-menu">
        <li ng-repeat="transition in transition.list">
          <a ng-click="setTransition(transition)">{{transition.name}}</a>
        </li>
      </ul>
    </li>
  </div>
 -->
</div>